[Oo]bj
.vs/
.idea/
*.ide-wal
*.ide-shm
*.ide
*.simplexcache
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.exe
*.pdb
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
SimplexIde/bin/Debug/Data/Room1
SimplexIde/bin/Debug/Data/Room2
